<div class="home">
  <div class="search-panel row">
    <div class="col-md-offset-2 col-md-8">
      <p class="number-of-investigations">Over 1.6 Million Corporate Filings<br/>
<span class="number-of-investigations-subhead">from Oil, Gas and Mining</p>
      <div class="search-area">
        <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
          <div class="input-group input-group-lg">
            <input type="text"
            class="form-control"
            autofocus
            ng-model="query.q"
            placeholder="Search for people, companies, projects or technical terms" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="material-icons">search</i></button>
            </span>
          </div>
        </form>
      </div>
      
      <div class="new-documents">

      <div class="new-documents__body">
      Suggested searches: 
      <span ng-repeat="suggestion in suggestions">
      <a class="suggested_searches" ng-href="{{ suggestion.href }}" ng-bind="suggestion.label"></a> {{ last ? '': ', '}}</span>
</div>


        <div class="new-documents__title"><b>{{docs_this_week}}</b> new documents this week</div>
      </div>
    </div>
  </div>
  <div class="row presentation-panel">
    <!--<div class="col-md-2 intro">
      Aleph offers a database of corporate filings from the extractive industries.
    </div>-->
    <div class="col-md-12">
      <div class="row features">

        <div class="col-md-3 featire">
          <div class="feature__title">What is Aleph?</div>
          <p>Aleph allows you to search public domain documents filed by oil & gas and mining companies 
          to financial regulators around the world.
          Over 2 million documents are currently indexed and are searchable. 
          You will find filings to SEC, SEDAR, Australian Stock Exchange News and others. 
          Filings are updated daily.</p>
        </div>

        <div class="col-md-3 feature">
          <div class="feature__title">Email alerts</div>
          <p>Register easily and create an email alert for queries you are interested in. 
          The next time your search query is mentioned in a new company report, 
          press release or news report you will be notified by email.</p>
        </div>

        <div class="col-md-3 feature">
          <div class="feature__title">Ask An Expert </div>
          <p>We offer expert advise and search tips. 
          Our experts are also ready to discuss how you can integrate Aleph in your work. 
          For more information or for a demo contact us at <a href="mailto:aleph@openoil.net">aleph@openoil.net</a></p>
        </div>

        <div class="col-md-3 feature">
          <div class="feature__title">Developer API</div>
          <p>You can routinely crawl and import document sources by using the <a href="https://github.com/OpenOil-UG/aleph/blob/master/aleph/views/public_api.markdown">API</a>. Contact us at <a href="mailto:aleph@openoil.net">aleph@openoil.net</a> to get more information.
        </div>

      </div>

    </div>
<!--    <div class="col-md-3 suggestions">
      <div class="suggestions__title">Suggested searches</div>
      <a ng-repeat="suggestion in suggestions" ng-href="{{ suggestion.href }}" ng-bind="suggestion.label"></a>
    </div> -->
  </div>
</div>
