<div class="home">
  <div class="search-panel row">
    <div class="col-md-offset-2 col-md-8">
      <p class="number-of-investigations">Over 2 million corporate documents</p>
      <div class="search-area">
        <form class="form-horizontal" role="search" ng-submit="submitSearch(form)">
          <div class="input-group input-group-lg">
            <input type="text"
            class="form-control"
            autofocus
            ng-model="query.q"
            placeholder="Search for person, companies, projects or other entities" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="material-icons">search</i></button>
            </span>
          </div>
        </form>
      </div>
      <div class="new-documents">
        <div class="new-documents__title"><b>2853</b> new documents this week</div>
        <!--<div class="new-documents__body">Canadian Corporate, Filling US (EDGAR), Australian Stock Exchange--></div>
      </div>
    </div>
  </div>
  <div class="row presentation-panel">
    <div class="col-md-2 intro">
      Aleph offers a database of corporate filings from the extractive industries.
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="row features">
        <div class="col-md-6 feature">
          <div class="feature__title">Email alerts</div>
          <p>Get an email whenever new documents matching your query are added to Aleph. <a href="http://search.openoil.net/#/search?intaction=register">Register</a> to get started</p>
        </div>
        <div class="col-md-6 feature">
          <div class="feature__title">Get started</div>
          <p>You can get some tips from our <a href="https://search.openoil.net/#/help">help pages</a>. Or <a href="mailto:aleph@openoil.net">mail us</a>, and we'll help you find what you're looking for</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 suggestions">
      <div class="suggestions__title">Suggested searches</div>
      <a ng-repeat="suggestion in suggestions" ng-href="{{ suggestion.href }}" ng-bind="suggestion.label"></a>
    </div>
  </div>
</div>
