
.navbar {
    .navbar-header {
        .navbar-brand {
          font-size: 1em;
          position: relative;
          margin-left: 110px;
          color: $text-color;
          padding-top: 15px;
          &:before {
          }
        }
	.navbar-image {
	    position: absolute;
	    content: '';
            width: 50px;
            height: 43px;
            //top: 14px;
            left: 40px;
            background-image: url('../images/aleph_black.png');
            background-repeat: no-repeat;
            background-size: cover;

	}
	.navbar-image-home {
	    position: absolute;
	    content: '';
            width: 88px;
            height: 76px;
            //top: 14px;
            left: 10px;
            background-image: url('../images/aleph_white.png');
            background-repeat: no-repeat;
            background-size: cover;

	}

        .navbar-description {
            color: #5e5e5e;
            white-space: nowrap;
            float: left;
            padding: 15px 0;
            line-height: 18px;
            font-family: $font-family-serif;
        }
    }
}
