
.navbar {
    .navbar-header {
        margin-left: 50px;

        .navbar-brand {
          font-size: 1em;
          position: relative;
          margin-left: 40px;
          color: $text-color;
          padding-top: 15px;
          &:before {
          }
        }
	.navbar-img {
	    position: absolute;
            width: 41px;
            height: 35px;
            top: 1px;
            left: 70px;
	    content:url("/static/images/aleph_black.png");
	}

        .navbar-description {
            color: #5e5e5e;
            white-space: nowrap;
            float: left;
            padding: 15px 0;
            line-height: 18px;
            font-family: $font-family-serif;
	    left: 80px;
        }
    }
}

.aleph--home {
    .navbar {
        .navbar-header {
	   .navbar-img {
	       content:url("/static/images/aleph_white.png");
           }
        }
    }
}
