$aleph-theme: #0049e6 !default;
$aleph-dark: #3a4953 !default;
$aleph-highlights: yellow !default;


@import "custom";

// Style tiles, Colours
$border-color: #d7d7d7;
$boxed-color: #fafafa;
$default-radius: 0;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// override bootstrap defaults
$brand-primary: $aleph-theme;
$text-color: #333;
$text-muted: #999;
$gray-subtle: #f0f0f0;
$page-bg: #f2f2f2;
$body-bg: #e6e6e6;
$spacing: 0.5em;
$base-unit: 12px;

// Style tiles, Fonts
$navbar-height: 40px;

// Style tiles, Fonts
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-serif: 'PT Serif', serif;

$input-border-focus: $brand-primary;
$border-radius-base: 0;
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $body-bg;
    /*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

#page {
  background-color: $page-bg;
  padding-bottom: 40px;
  .navbar, .row {
    padding: 0 1%;
  }
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    .partners {
      position: relative;
      top: -9px;
      img {
        padding-right: 10px;
      }
    }
    .licence {font-size: .9em;}
    .social i {
      background-color: $text-color;
      color: #e6e6e6;
      border-radius: 30px;
      padding: 10px;
      font-size: 1.5em;
      margin-left: 10px;
      margin-bottom: 10px;
      &:hover {
        background-color: lighten($text-color, 20%);
      }
    }
    a:hover {
      text-decoration: none;
    }
}

@import "loading_bar";
@import "common";
@import "help";
@import "nav";
@import "home";
@import "search";
@import "tabular";
@import "text";
@import "spinner";
@import "entities";

.navbar.navbar-default {
    background-color: $body-bg;
    border-bottom: 0;
    //@include drop-shadow;

    // .input-group-addon.brand-field {
    //     background-color: $page-bg;
    //     a {
    //         color: $aleph-theme;    
    //     }
    // }
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.7em;
    color: text-muted;
}

.list-group-item.active .badge {
    background-color: $brand-primary;
    color: $page-bg;
}

.modal-table {
    .active-switch {
        padding-left: 1.5em;
    }

    .table {
        .first-row td {
            border-top: none;
        }
    }
}

.modal-scroll {
    max-height: 30em;
    overflow-y: scroll;
    @extend .modal-table;
}


// OO stuff
// OO-specific
// should later go back into _custom.scss

$aleph-theme: #0049e6;
$body-bg: #e6e6e6;

.dropdown-menu{
	background-color: $body-bg !important;

	li, a {
	      color: #333 !important;
	}
}

.suggested_searches {
 
    color: white;
    text-decoration: underline;
}	

.login_referral {
    color: $text-color;
    font-weight: bold;

    a {
      color: #0049e6;
      }
 }	

// potential fix, weird edgecase, debug more ;)
//ul.nav.navbar-nav li a i.material-icons.md-20 {
//    font-size: 20px;
//}
