<p>Welcome to Aleph!</p> <br/>

<p> You have signed up for a newsletter on the OpenOil search tool <a href="https://search.openoil.net">Aleph</a>, <br/>
everything extractive industries tell investors, in one place. </p>

<p> Aleph is still in development, but you will soon be able to create email alerts to receive the latest corporate filings that correspond to your queries.</p> <br/>

<p> You can also get started with our <a href="https://github.com/OpenOil-UG/aleph/blob/master/aleph/views/public_api.markdown">Aleph API</a> which enables database searches. <br/>
And find our useful tips for making your searches under our <a href="http://search.openoil.net/#/help">help tab</a>. </p><br/>

<p>Feel free to get touch with one of our experts by emailing <a href="mailto:aleph@openoilnet">aleph@openoil.net</a> </p>

<p>Thanks,<br/>
Aleph Team</p>
