<!DOCTYPE html>
<html lang="en" ng-app="aleph">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>{{config.APP_TITLE}}</title>

    {% assets "css" %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic|PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ config.APP_FAVICON }}">
    <base href="{{url_for('.ui')}}">
  </head>
  <body ng-controller="AppCtrl as app" ng-keyup="keyDownNotify($event)" ng-class="'aleph--' + $route.current.templateUrl.replace('.html', '').replace('templates/', '')">
    <div id="page" ng-show="session.roles">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
	    <a href="/#" class="navbar-brand" href="https://openoil.net"><strong>Aleph</strong> Search Engine</a>
            <div class="navbar-description">
                Everything extractive industries tell investors, in one place.
            </div>
          </div>

          <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li ng-show="!session.logged_in">
                <a href="{{url_for('sessions_api.login')}}" target="_self">
                  <i class="material-icons">person</i> Sign in with Google
                </a>
              </li>
              <li ng-show="session.logged_in && session.role.is_admin"
                 ng-class="{'active': navSection =='admin'}" uib-dropdown>
                <a href="#" uib-dropdown-toggle>
                  <i class="fa fa-warning"></i> Admin
                </a>
                <ul uib-dropdown-menu role="menu">
                  <li role="menuitem">
                    <a href="/crawlers" class="click">
                      <i class="fa fa-sitemap" aria-hidden="true"></i>
                      Crawler Manager
                    </a>
                  </li>
                  <li role="menuitem">
                    <a href="/entities/review" class="click">
                      <i class="fa fa-link" aria-hidden="true"></i>
                      Entity Review
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li role="menuitem">
                   <a href="https://github.com/pudo/aleph/issues" class="click">
                      <i class="fa fa-github-square"></i>
                      GitHub Issues
                    </a>
                  </li>
                </ul>
              </li>

	      
              <li ng-show="session.logged_in">
                <a ng-click="editProfile($event)">
                  <i class="fa fa-cog"></i> Settings
                </a>
              </li>
              <li ng-show="session.logged_in">
                <a ng-click="manageAlerts($event)">
                  <i class="fa fa-bell"></i> Alerts
                </a>
              </li>
              <li ng-show="session.logged_in">
                <a href="{{url_for('sessions_api.logout')}}" target="_self">
                  <i class="fa fa-sign-out"></i> Logout
                </a>
              </li>

              <li ng-show="!session.logged_in">
              {% raw %}
              <a href='' id='oo_signin_email' ng-click='loginModal($event)' target='_self'>
		<i class="material-icons">person</i> Sign in with email
                </a>
              {% endraw %}
              </li>
	      <li ng-show="!session.logged_in" ng-cloak>
              {% raw %}
              <a href='' id='oo_register' ng-click='registerModal($event)' target='_self'>
		<i class="material-icons">create</i> Register
              </a>
              {% endraw %}
            </li>


	      
            </ul>
          </div>
        </div>
      </nav>

      <div id="spinner-wrapper">
        <div id="spinner-overlay" ng-hide="routeLoaded">
          <div class="spinner" ng-hide="routeFailed">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
          <div class="spinner failed" ng-show="routeFailed" ng-cloak>
            <i class="fa fa-exclamation-triangle"></i>
            <div class="failure-note">
              He's dead, Jim.
            </div>
	  </div>
	  </div>
	

	  <div id="view" class="container-fluid">
	    <div ng-view autoscroll="true"></div>
	  </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5 col-md-5 partners">
            <a href="https://opendataincubator.eu" target="_blank">
              <img src="{{ url_for('static', filename='images/odin_funded_footer.png') }}"/>
            </a>
            <a href="https://www.shuttleworthfoundation.org" target="_blank">
              <img src="{{ url_for('static', filename='images/shuttleworth-funded_footer.png') }}"/>
            </a>
          </div>
          <div class="col-xs-4 col-md-4 col-md-offset-1 licence">
	    Content <strong><a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons License &nbsp;-&nbsp;CC-BY-SA&nbsp;4.0</a></strong><br/>
            Code <strong><a href="https://github.com/OpenOil-UG/aleph/blob/master/LICENSE">MIT License</a></strong><br/>
	    Based on <a href="https://github.com/pudo/aleph">Aleph</a> by <a href="http://pudo.org/">Friedrich Lindenberg</a><br/>
          </div>
          <div class="col-xs-3 col-md-2 social">
            <p class="pull-right">
              <a href="https://twitter.com/open_oil" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/OpenOil-UG/aleph" target="_blank">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    {% include "analytics.html" %}

    {% for path, tmpl in templates %}
      <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
    {% endfor %}

    {% assets "base" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "angular" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "app" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
