<p>Thank you for creating an account with <a href="https://search.openoil.net">Aleph</a> - everything extractive industries tell investors, in one place.</p><br/>

<p>Useful tips:</p>
<ul>
  <li>Use the <a href="http://search.openoil.net/#/help">"Help" tab</a> to find interesting ways of researching with Aleph</li>
  <li><a href="https://search.openoil.net/#/search?intaction=profile">Create an email alert</a> for a query</li>
  <li>Ask an expert by emailing <a href="mailto:aleph@openoil.net">aleph@openoil.net</a></li>
</ul>

<p>Thanks,<br/>
OpenOil Team</p>
