<div id="login_modal">
    <span class="close" ng-click="cancel()">x</span>
    <h2>Log in</h2>

    <b>No account yet? <a href="" ng-click="switch_to_register()">Register</a></b>
    <form novalidate class="simple-form" name="loginform" ng-submit="handle_login(loginform)">
    Email: <input name="email" type="text" ng-model="formvalues.email"/><br />
    Password: <input name="password" type="password" ng-model="formvalues.password"/><br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
