 <div>
   <span class="close" ng-click="cancel()">x</span>
   <h2>Welcome to Aleph</h2>

   <p>You have signed up for a newsletter on the OpenOil search tool Aleph, everything extractive industries tell investors, in one place.</p>

<pAleph is still in development, but you will soon be able to create email alerts to receive the latest corporate filings that correspond to your queries.</p>

<p>We will send you all the latest developments and more on the API and interesting case studies.</p>

<p>Don't hesitate to get in touch by emailing us at <a href="mailto:aleph@openoil.net">aleph@openoil.net</a> or check our <a href="/#/help">Help section</a>.</p>

<p> - The Aleph OpenOil Team</p>

</div>
