<div id="register_modal">
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Register for Aleph</h4>
    <h3 ng-show="message">{{message}}</h3>
</div>
<div class="modal-body">
    <p>Coming soon - the email alerts to receive up to date corporate filings on your queries. Sign up today to receive the latest developments on Aleph.</p>
    
<p>    <b>Already have an account? <a href="" ng-click="switch_to_login()">Log in</a></b></p>
    <form novalidate class="simple-form" name="registerform" ng-submit="handle_register(registerform)">
    Email: <input name="email" type="text" ng-model="formvalues.email"/><br />
    Password: <input name="password1" type="password" ng-model="formvalues.password1"/><br />
    Password (repeated): <input name="password2" type="password" ng-model="formvalues.password2"/><br />

    Add me to the OpenOil newsletter: <input ng-model="formvalues.mailing_list" type="checkbox" checked="checked"><br/>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
</div>

