 <div>
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Welcome to Aleph</h4>
</div>
<div class="modal-body">
<p>Registration was successful. Make your first search and set up an alert by pressing "Set Alert". Check on those alerts by pressing "My Alerts".</p> 

<p>Aleph - Everything extractive industries tell investors, in one place.</p.

<p>For more information contact us at <a href="mailto:aleph@openoil.net">aleph@openoil.net</a></p>

<p> - The OpenOil Team</p>
</div>
</div>
